@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  // font-family: "Roboto", sans-serif;
}
.containerx {
  position: relative;
  right: 0;
  max-width: 100vw;
  max-height: 95vh;
  // padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  z-index: 2;
  transition: 0.5s;
}
.containerx.active {
  right: 300px;
}
.containerx header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 201;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  // text-transform: uppercase;
  letter-spacing: 5px;
}
.toggle {
  cursor: pointer;
  position:relative;
  height: 30px;
  width: 30px;
  background: url("https://pngimage.net/wp-content/uploads/2020/03/3-line-button-png-.png");
  background-repeat: no-repeat;
  background-size: 30px;
}

.toggle.active {
  background: url("https://cdn3.iconfinder.com/data/icons/pyconic-icons-1-2/512/close-circle-512.png");
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  filter: invert(100%);
}
.containerx img {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
<<<<<<< HEAD
  max-height:95vh;
=======
  max-height:100vh;
>>>>>>> ddde9e2 (- add drop down for analytics to show site specific stats)
  object-fit: cover;
  opacity: 0.4;
  // filter:grayscale
  background-color: rgba(0,0,0,0.4)

  
  }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  max-height: 95vh;
  background-color: rgb(12, 12, 12);
  opacity: 0.4;
<<<<<<< HEAD
  background-color: rgba(0,0,0,0.4);
=======
>>>>>>> ddde9e2 (- add drop down for analytics to show site specific stats)
  mix-blend-mode: overlay;
}

.text {
 position: absolute;
 padding:100px; 
 z-index: 10;
}

.text h2 {
  font-size: 8em;
  font-weight: 300;
  // text-transform: uppercase;
}
.text h3 {
  font-size: 5em;
  font-weight: 200;
}
.text p {
  font-size: 1em;
  font-weight: 200;
}
.text a{
  display:inline-block;
  font-size:2em;
  font-weight:200;
   padding: 10px 30px;
  text-decoration: none;
  background:white;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: 0.5s;
}
.text a:hover{
  letter-spacing:10px;
}


.menu {
  position: absolute;
  height: 100%;
  width: 300px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.menu ul {
  list-style: none;
}
.menu ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 3em;
  font-weight: 300;
  color: black;
}

.menu ul li a:hover {
  color: red;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  z-index: 10;
}




@media (max-width:700px){
  .containerx{
    padding:30px;
  }
  .text h2{
    font-size:4em;
  }
  .text h3{
    font-size:2em;
  }
  .text p{
    font-size:1em;
  }
  
}
