@import "../styles/variables.scss";
 @import "custom";
.sidebar {
  background-color: $dark-background;
  box-shadow: 0px 4px 8px rgba($dark-background, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  padding: $spacing 0;

  &--centered {
    align-self: center;
  }

  &__separator {
    width: 90%;
    margin: $spacing 0;
    border: solid 1px;
    color: darken($white, 5%);
  }

  &__menu {
    flex: 1;
  }

  &__lhl {
    margin-top: 2rem;
  }
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // margin: 2rem 0;
  // padding: 0 $spacing;
  width: 100%;
}




.cols {
  justify-content: center;
  padding:25px;
  align-items: center;
  display: flex;
  flex-direction: row;
  //min-height: 100vh;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input {
  padding: 3px;
  margin: 3px;
}

.site-form {
display: flex;
justify-content: center;
margin: 2px;
padding: 10px;
}

.input {
padding: 10px;
}
.layout{
  display: flex;
}

