// Your variable overrides
$body-bg: rgb(243, 243, 243);
$body-color: rgb(68, 68, 68);


// .customNav {
//     position: relative;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: space-between;
//     padding-top: 0;
//     padding-bottom: 0;
//     margin:0;
//   }
/* import bootstrap to set changes */
.carousel {
  max-height: calc(100vh - 30px);
  overflow: hidden
}

.carousel-caption {
  /* font-weight: 900; */
  /* width: 150%; */
  position: sticky;
  bottom: 65%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-left: -35%;*/
}



.half-black {
  background: rgba(0, 0, 0, 0.7);
}

@import '../../node_modules/bootstrap/scss/bootstrap';
