// Your variable overrides
$body-bg: rgb(243, 243, 243);
$body-color: rgb(68, 68, 68);

.half-black {
  background: rgba(0, 0, 0, 0.7);
}

@import '../../node_modules/bootstrap/scss/bootstrap';


.customNav {
  max-height: 5vh;

}

.navbar-dark .navbar-brand {
  color: #ffffff;
  font-size: 32px;
}



.half {
  display: flex;
 //  height: 500px;
  flex-direction: column;
  justify-content: flex-start;
  // margin: 2rem 0;
  // padding: 0 $spacing;
  width: 100%;
  min-height: 40vh;
  max-height: 56vh;
  margin:2vh 2vw 2vh 2vw;
  overflow-x: hidden;
 }




.half-map {
  display: flex;
 //  height: 500px;
  flex-direction: column;
  justify-content: flex-start;
  // overflow: hidden;
  max-height: 51vh;

 }


.map {
  display: flex;
 //  height: 500px;
  flex-direction: column;
  justify-content: flex-start;
  // margin: 2rem 0;
  // padding: 0 $spacing;
  width: 100%;
  max-height: 95vh;
 }
 

 .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  width: 80vw;
  // align-self: center;
  /* padding-right: var(--bs-gutter-x, 0.75rem); */
  /* padding-left: var(--bs-gutter-x, 0.75rem); */
}

.modalx {
  margin: 10% 0% 0% 0%; 
  // border: red 2px solid;
  // border-radius: 4px;
  // width: 300px;
  
  }