
#map {
  height: 100vh;
  width: 100vw;
}


 .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  border-radius: 0px;
  }
		

 .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.1);
  }

 .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }

 .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
  }

 .leaflet-popup-content-wrapper{
  background-color: rgb(36, 36, 36);
  opacity: 0.75;
}

 .leaflet-popup-tip {
  background: red;
}

 .leaflet-popup-tip-container {
  width: 40px;
  height: 20px;
  position: absolute;
  // margin-left:-1000px;
  overflow: hidden;
  pointer-events: none;
	// cursor:zoom-in;
	margin-left:-20px;
	// background: sandybrown
}

 .leaflet-popup.leaflet-zoom-animated {

	opacity: 0.5;

}