.analytics{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
  .productionstats{
    display: flex;
    flex-direction: column;
  }

  .topbar {
    display: flex;
    flex-direction: row;
  } 
   
  .productionpie{
      display: flex;
      flex-direction: column;
      width:400px;
      height: 400px;
    }
    ul{
    }
  
  .comparebar {
    display: flex;
    flex-direction: column;
    width:400px;
    height: 200px;
    align-self: center;
}




