.analytics{
  display: flex;
  flex-direction: column;
  width: 100%;

  .productionstats{
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .topbar {
    display: flex;
    flex-direction: row;
    .productionpie{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    ul{
      width: 100%;
    }
  }
}



